[data-theme = "Light"] {
  --bg-page: #efefef;
  --bg-paper: #ffffff;

  --text-main: #222;
  --text-muted: #555;

  --accent: rgba(102, 117, 134, 1);
  --settings-item-hover: rgba(0,0,0,0.05);

  --border: #bbb;
  --shadow: rgba(0, 0, 0, 0.08);

  --scrollbar-track: #efefef;
  --scrollbar-thumb: #999;
  --scrollbar-thumb-hover: #777;
}

[data-theme="Dark"] {
  --bg-page: #121212;
  --bg-paper: #1b1b1b;

  --text-main: #e6e6e6;
  --text-muted: #a0a0a0;

  --accent: #4A5563;
  --settings-item-hover: #333;

  --border: #333;
  --shadow: rgba(0, 0, 0, 0.6);

  --scrollbar-track: #121212;
  --scrollbar-thumb: #444;
  --scrollbar-thumb-hover: #666;
}

/*---- General ----*/
#root {
  width: 100%;
  max-width: none;
}

body {
  margin: 0;

  background: var(--bg-page);
  color: var(--text-main);

  font-family: Inter, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

.container {
  background: var(--bg-page);
  padding: 0.25rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.settings-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0.3rem 0.4rem;

  color: var(--text-muted);

  cursor: pointer;
  transition: background var(--transition-fast), color var(--transition-fast);
}

.settings-item:hover {
  background: var(--settings-item-hover);
  color: var(--text-main);
}

.home {
  display: flex;
  flex-direction: row;
}

.library {
  width: 70%;
  height: 90vh;
  border: 1px solid var(--border);
}

.library-header {
  width: 100%;
  border-bottom: 1px solid var(--border);
}

.library-header p {
  justify-self: left;
}

.practice-setup {
  width: 30%;
  border: 1px solid var(--border);
}

.setup-header {
  width: 100%;
  border-bottom: 1px solid var(--border);
}